@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --Pink: hsl(322, 100%, 66%);
    --Light-Pink: hsl(321, 100%, 78%);
    --Light-Red: hsl(0, 100%, 63%);
    --Very-Dark-Cyan: hsl(192, 100%, 9%);
    --Very-Pale-Blue: hsl(207, 100%, 98%);
}
body{
    font-family: "Poppins";
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    padding: 2%;
    /* border: solid 2px red; */
}

.headerTag{
    font-size: xx-large;
}
.tryItButton{
    text-align: center;
    border: 1px solid var(--Light-Pink);
    box-shadow: 0 0 4px var(--Light-Pink);
    color: var(--Light-Pink);
    min-width: 5vw;
    padding: 1rem;
    border-radius: 100px;
}
main{
    max-height: 100vh;
    padding: 10%;
    text-align: center;
}
.aboutLine{
    font-size: x-large;
    max-width: 50rem;
    margin: 0 auto;
    padding-bottom: 1rem ;
}
.getStartedButton{
    background-color: var(--Pink);
    font-family: "Poppins";
    color: var(--Very-Pale-Blue);
    width: 15rem;
    padding: 1rem;
    border-radius: 100px;
    margin: 0 auto;
    margin-top: 40px;
    scale: 1.4;
}
.getStartedButton:hover{
    background-color: var(--Light-Pink);
    cursor: pointer;
}
#screenMockupImg{
    margin-top: 5rem;
    width: 80vw;
}
.logisticsInfo{
    display: flex;
    margin: 0 auto;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.community img{
    width: 40px;
}
.logiNum{
    font-size: 5rem;
    font-weight: 700;
}
.logiNumCont{
    color: grey;
    font-size: larger;
    font-weight: 400;
}
.community{
    display: flex;
    height: 20vh;
    flex-direction: column;
    justify-content: space-evenly;
}
.contentBox{
    display: flex;
    flex-direction: column;
}
.community:nth-child(1){
    height: fit-content;    
}
.community:nth-child(2){
    height: fit-content;    
}

.growTogetherSectionBg_1{
    width: 100vw;
    margin: 0;
    position: relative;
    top: 7px;
}
.growTogetherSectionBg_2{
    width: 100vw;
    margin: 0;
}
.growTogetherSection{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #f6fbff;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
}
.growTogetherSection div{
    max-width: 550px;
    justify-content: center;
    font-size: 2ch;
}
.growTogetherSection div h2{
    font-size: xx-large;
    font-weight: 700;
}
.growTogetherSection img{
    width: 40vw;
}

.flowingConversationSection{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
}
.flowingConversationSection div{
    max-width: 550px;
    justify-content: center;
}
.flowingConversationSection div h2{
    font-size: xx-large;
    font-weight: 700;
}
.flowingConversationSection div p{
    width: 1fr;
}
.flowingConversationSection img{
    width: 50vw;
}


.yourUserSectionBg_1{
    width: 100vw;
    margin: 0;
    position: relative;
    top: 7px;
}
.yourUserSectionBg_2{
    width: 100vw;
    margin: 0;
}
.yourUserSection{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background-color: #f6fbff;
    justify-content: space-around;
    align-items: center;
    padding: 4%;
}
.yourUserSection div{
    max-width: 550px;
    justify-content: center;
    font-size: 2ch;
}
.yourUserSection div h2{
    font-size: xx-large;
    font-weight: 700;
}
.yourUserSection img{
    width: 40vw;
}